<div class="blog-detail-container" *ngIf="!isLoading; else loading">
  <ng-container *ngIf="blog; else notFound">
    <div class="blog-header">
      <div class="breadcrumb">
        <a routerLink="/">Trang chủ</a> / <a routerLink="/blogs">Tin tức</a> / <span>{{ blog.title }}</span>
      </div>
      <h1 class="blog-title">{{ blog.title }}</h1>
      <div class="blog-meta">
        <span class="blog-date"><i class="fas fa-calendar-alt"></i> {{ blog.publishedDate | date:'dd/MM/yyyy' }}</span>
        <span class="blog-author"><i class="fas fa-user"></i> {{ blog.author }}</span>
        <div class="blog-tags" *ngIf="blog.tags?.length">
          <span class="tag" *ngFor="let tag of blog.tags"><i class="fas fa-tag"></i> {{ tag }}</span>
        </div>
      </div>
    </div>

    <div class="blog-thumbnail">
      <img [src]="blog.thumbnail" [alt]="blog.title">
    </div>

    <div class="blog-content" [innerHTML]="blog.content"></div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loading-container">
    <div class="spinner"></div>
    <p>Đang tải bài viết...</p>
  </div>
</ng-template>

<ng-template #notFound>
  <div class="not-found-container">
    <h2>Không tìm thấy bài viết!</h2>
    <p>Bài viết bạn đang tìm kiếm không tồn tại hoặc đã bị xóa.</p>
    <button class="btn btn-primary" routerLink="/blogs">Quay lại danh sách</button>
  </div>
</ng-template>
